* {
    box-sizing: border-box;
  }
  
 body {
     background-color: #f5f5f5;
     color: #47536b
 }


.header {
    background: dodgerblue
}


  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #fafafa;
    color: #3b3b3b;
    font-size: 17px;
    border: 1px solid blue;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .gg-lock {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 11px;
    border: 2px solid;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom: transparent;
    margin-top: -12px
}
.gg-lock::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 10px;
    border-radius: 2px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    left: -4px;
    top: 9px
}