{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Etusivu</h2>
{% if session.username %}
Tervetuloa sovellukseen!  <a href="/new">Tee lanka</a>

<br>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
Tervetuloa sovellukseen!
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/login" method="POST">
        <p>Käyttäjätunnus:<br>
        <input type="text" name="username"</p>
        <p>Salasana:<br>
        <input type="password" name="password"</p>
        <input type="submit" value="Kirjaudu sisään">
        </form>
    </div>
    <div class="col">
      <form action="/register" method="POST">
        <p><b>REKISTERÖIDY</b><br>
        <input type="text" name="name"</p>
        <p>Salasana:<br>
        <input type="password" name="pass"</p>
        <input type="submit" value="Rekisteröidy">
        </form>
    </div>
  </div>
</div>

{% endif %}

<hr>
<a href="/userlist">Lista käyttäjistä</a>
<hr>
<b>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Otsikko </a></th>
            <th scope="col">Vastaukset</th>
            <th scope="col">Tykkäykset</th>
            <th scope="col">Viimeisin viesti</th>
          </tr>
        </thead>
        <tbody>
            {% for title in titles %}
          <tr class="table-primary">
            <th scope="row">
              <h3><a href="/thread/{{ title[0] }}"> {{ title[1] }}</a></h3>
              <a href="/profile/{{ title[2] }}"> {{ title[4] }}</a> >> {{ title[3].strftime("%Y-%m-%d %H:%M:%S") }}
            </th>
            <td>{{ title[5] }}</td>
            {% set th = namespace(likes=0) %}
            {% for thank in thanks %}
            {% if thank[0] == title[0]: %}
              {% set th.likes = thank[2] %}
            {% endif %}
            {% endfor %}
            <td>{{ th.likes }}</td>
            <td>{{ title[3].strftime("%Y-%m-%d %H:%M:%S") }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</b>
<h3>Tilastoja</h3>
<p>Lankojen määrä: {{ amount }}</p>
{% endblock %}

