<!doctype html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://css.gg/css?=|lock" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Tsohafoorumi - {% block title %}{% endblock %}</title>

<div id="wrap">

  <nav class="navbar navbar-lightjustify-content-between">
    <a class="navbar-brand"><a href="/" class="text-white">Tsohafoorumi</a></a>
    <form class="form-inline" action="/result" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Etsi..." name="query">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </nav>
  <br>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <div class="alert alert- alert-success">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/userlist">
          Lista käyttäjistä
        </a>
      </li>
      {% if session["username"] %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          Kirjaudu ulos
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">
          Kirjaudu sisään
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">
          Rekisteröidy
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% if session["banned"] %}
  <div class="alert alert-danger" role="alert">
    Olet saanut porttikiellon!
  </div>
  {% endif %}

  {% block content %}{% endblock %}
  
</div>