{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

{% from "_formhelpers.html" import render_field %}

{% if session["banned"] %}
<div class="alert alert-danger" role="alert">
  Olet saanut porttikiellon!
</div>
{% else %}
<form action="/create_thread" method="POST" novalidate>
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.message) }}
  </dl>
  <input type="hidden" name="subforum_id" value="{{ subforum_id }}">
  <input type="submit" value="Luo lanka">
</form>
{% endif %}

{% endblock %}