{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>{{ profile[0] }}</h1>
{% if profile[1] %}
<div class="alert alert-danger" role="alert">
  Käyttäjä {{ profile[0] }} on saanut porttikiellon.
</div>
{% endif %}
{% if session["mod"] %}
  {% if profile[1] %}
  <form action="/ban" method="POST">
    <fieldset class="form-group">
    <input type="hidden" name="ban_id" value="{{ id }}">
    <input type="hidden" name="ban_type" value="0">
    <button type="submit" class="btn btn-danger">POISTA PORTTIKIELTO</button>
  </form>
    {% else %}
    <form action="/ban" method="POST">
        <fieldset class="form-group">
        <input type="hidden" name="ban_id" value="{{ id }}">
        <input type="hidden" name="ban_type" value="1">
        <button type="submit" class="btn btn-danger">ANNA PORTTIKIELTO</button>
    </form>
  {% endif %}
{% endif %}
{% if session.username  %}
<a href="/profile/{{id}}/chat">Chat</a>
{% endif %}
Lähetetyt viestit:
<br>
{% for message in messages %}
<div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
    <div class="card-header">Lähetetty : {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}</div>
    <div class="card-body">
      <h4 class="card-title"><a class="text-warning" href="/thread/{{ message[2] }}"> {{ message[4] }} </a></h4>
      <p class="card-text">{{ message[1] }}</p>
    </div>
  </div>
  <br>
{% endfor %}
{% endblock %}