{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>{{ username }}</h1>
{% if session.username %}
<a href="/profile/{{id}}/chat">Chat</a>
{% endif %}
Lähetetyt viestit:
<br>
{% for message in messages %}
<div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
    <div class="card-header">Lähetetty : {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}</div>
    <div class="card-body">
      <h4 class="card-title"><a class="text-warning" href="/thread/{{ message[2] }}"> {{ message[4] }} </a></h4>
      <p class="card-text">{{ message[1] }}</p>
    </div>
  </div>
  <br>
{% endfor %}
{% endblock %}