{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session["mod"] %}
  <hr>
  <form action="/delete" method="POST">
    <fieldset>
      <fieldset class="form-group">
      <input type="hidden" name="delete_id" value="{{ subforum_id }}">
      <input type="hidden" name="delete_type" value="3">
      <button type="submit" class="btn btn-danger">POISTA ALALAUTA</button>
      </fieldset>
    </fieldset>
  </form>
{% endif %}
  <h3><a href="/forum/{{ forum_id }}/sub/{{ subforum_id }}"> {{ subforum_name }} </h3></a>
  <div class="container2">
    <p><a href="/forum/{{ forum_id }}/sub/{{ subforum_id }}/new" class=btn btn-danger >Tee lanka</a></p>
    <p><form class="form-inline" action="/result" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Etsi..." name="query">
      <button type="submit"><i class="fa fa-search"></i></button>
      </form></p>
  </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="color:white;">Otsikko </a></th>
            <th scope="col" style="color:white;">Tykkäykset</th>
            <th scope="col" style="color:white;">Viestit</th>
            <th scope="col" style="color:white;">Viimeisin viesti</th>
          </tr>
        </thead>
        <tbody>
            {% for title in titles %}
          <tr class="table-primary">
            <th scope="row">
              {% if title[4] == 1 %}
                <i class="gg-lock"></i>
              {% endif %}
              <h5><a href="/thread/{{ title[0] }}"> {{ title[1] }}</a></h5>
              <a href="/profile/{{ title[2] }}"> {{ title[5] }}</a> > {{ title[3].strftime("%Y-%m-%d %H:%M:%S") }}
            </th>
            <td>{{ title[7] }}</td>
            <td>{{ title[6] }}</td>
            {% set time = title[3].strftime("%Y-%m-%d %H:%M:%S") %}
            {% for reply in latest_reply %}
            {% if title[0] == reply[2] %}
            {% set time = reply[0].strftime("%Y-%m-%d %H:%M:%S") %}
            {% endif %}
            {% endfor %}
            <td>{{ time }}</td>
          </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}