{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<form action="/delete_thread" method="POST">
  <fieldset>
    <fieldset class="form-group">
      <legend>ADMIN: Poista lanka</legend>
    <input type="hidden" name="thread_id" value="{{ id }}">
    <button type="submit" class="btn btn-danger">POISTA</button>
    </fieldset>
  </fieldset>
</form>
<br>
<form action="/thank_thread" method="POST">
<input type="hidden" name="thread_id" value="{{ id }}">
<input type="submit" value="Tykkää langasta">
</form>
{% for reply in messages %}
<br><p>
<div class="jumbotron">
    <h2 class="display-3">{{ reply[1] }}</h2>
    <p class="lead">{{ reply[4] }} </p>
    <hr class="my-4">
    <p> {{ reply[3] }} </p>
    <hr class="my-4">
    {% set ms = namespace(likes=0) %}
    {% for thank in thanks %}
    {% if thank[0] == reply[0]: %}
      {% set ms.likes = thank[1] %}
    {% endif %}
    {% endfor %}
    <p>{{ ms.likes }}</p>
    <form action="/thank_message" method="POST">
    <input type="hidden" name="message_id" value="{{ reply[0] }}">
    <input type="submit" value="Tykkää viestistä">
    </form> 
</div>
</p>
{% endfor %}
<br>
<p>
Vastaa lankaan
</p>
<form action="/reply" method="POST">
Viesti:
    <input type="text" name="message">
    <input type="hidden" name="id" value="{{ id }}">
    <input type="submit" value="Lähetä">
    </form>

{% endblock %}