{% extends "layout.html" %}
{% block title %}Käyttäjälista{% endblock %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Käyttäjä</th>
      <th scope="col">Luotu</th>
    </tr>
  </thead>
  <tbody>  
    {% for user in users %}
      <tr class="table-info">
        <th scope="row"><a href="/profile/{{ user[0] }}"> {{ user[1] }}</a></th>
        <td>{{ user[2].strftime("%Y-%m-%d %H:%M:%S") }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}